DATABASE_URL=postgresql://postgres:postgres@localhost:5432/raster_db
STORAGE_PATH=./storage
RESULTS_PATH=./results
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
RESULT_URL_PREFIX=http://localhost:8000
RESULT_EXPIRE_HOURS=24
